.container {
    border-style: double;
    border-radius: 5%;
    padding: 10% 10%;
    margin-top: 8%;
    margin-left: 35%;
    margin-right: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-group {
    margin: 10% 0%;
}

#btn {
    margin-top: 7%;
    border-radius: 12%;
}

.container-端r端n {
    border-style: double;
    border-radius: 5%;
    margin: 5%;
    padding: 5% 5%;
}

#search {
    padding: 1% 5%;
    margin-bottom: 4%;
    margin-left: 15%;
    width: 50%;
    text-align: center;
}

#image {
    margin-left: 0%;
    width: 50px;
    padding-top: 0%;
}

#label {
    text-align: center;
}

.form2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form3 {
    display: flex;
    flex-direction: row;
}


/* #col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.img-端r端n {
    width: 10%;
}